# Data processing and wrangling stack
awkward
lmfit
numpy
openpyxl
pandas
scipy
numba>=0.63.0b1
xarray>=2026.01.0
# Spatial data processing stack
cartopy
geopandas
geopy
pyproj
shapely
verde
# Validation stack
pandera>=0.25
pydantic>=2.0.0
traitlets
# Jupyter stack
ipympl
jupyter_bokeh>=3.0.5
# Static visualization stack
matplotlib
seaborn
# Interactive visualization stack
bokeh
geoviews
holoviews
ipywidgets
