# Data processing and wrangling stack
lmfit
numpy
pandas
scipy
# Spatial data processing stack
geopandas
geopy
shapely
# Visualization stack
ipympl
ipywidgets
jupyter_contrib_nbextensions
traitlets
# Validation stack
pandera
pydantic
