# Data processing and wrangling stack
awkward
lmfit
numpy
openpyxl
pandas
scipy
numba
# Spatial data processing stack
cartopy
geopandas
geopy
pyproj
shapely
verde
# Validation stack
pandera>=0.25
pydantic>=2.0.0
traitlets
# Jupyter stack
ipympl
jupyter_bokeh>=3.0.5
# Static visualization stack
matplotlib
# Interactive visualization stack
bokeh
geoviews
holoviews
ipywidgets
