# Publish archives to PyPI and TestPyPI using GitHub Actions
name: Publish to PyPI

# Permissions
permissions:
  contents: read
  id-token: write

# Only run for tagged releases
on:
  release:
    types:
      - released
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build-artifact:
    name: Build echopop package
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        # fetch all history so that setuptools-scm works
        fetch-depth: 0
        tags: true

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.9

    - name: Install dependencies
      run: python -m pip install --upgrade pip build setuptools wheel

    - name: Build distributions
      run: |
        python -m build --sdist --wheel
        ls -lh dist/

    - uses: actions/upload-artifact@v5
      with:
        name: releases
        path: dist

  test-built-dist:
    name: Test echopop package
    needs: build-artifact
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - uses: actions/download-artifact@v6
        with:
          name: releases
          path: dist

      - name: Test wheel from TestPyPI
        run: |
          python -m pip install --upgrade pip
          python -m pip install --extra-index-url https://test.pypi.org/simple --upgrade --pre echopop
          python -c "import echopop; print(echopop.__version__)"
          python -m pip uninstall -y echopop
          python -m pip install --extra-index-url https://test.pypi.org/simple --upgrade --pre --no-binary=:all: echopop
          python -c "import echopop; print(echopop.__version__)"


  publish-pypi:
    runs-on: ubuntu-22.04
    needs: test-built-dist
    if: startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: releases
          path: dist

      - name: Publish to PyPI (Trusted)
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          verbose: true
          skip-existing: true
